<div id="header">
    <div id="redbar">
        <div class="wrap" style="margin-left: 132px; margin-right: 152px;">
            <ul class="public">
                <li><a href="/login" class="btn-login">log in</a></li>
            </ul>
            <a href="/" id="btn-home">ShareBoard</a>
        </div>
    </div>
</div>
<div id="body" ng-controller="ShareBoardCtrl">
    <section class="featured">
        <form ng-submit="save()">
            <div class="whitebox" style="max-width: 800px;margin: 0px auto">
                <hgroup class="title">
                    <h2 class="share-title">I want to hear a session about...</h2>
                </hgroup>
                <textarea class="form-control" rows="3" ng-model="postItem.content"></textarea>
                <div class="clearfix">
                    <button type="submit" class="btn btn-danger share-button pull-right">Post</button>
                    <div class="btn-group pull-right share-type">
                        <button type="button" class="btn btn-success" ng-model="postItem.type">{{postItem.type}}</button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="type in types"><a ng-click="postTypeSelect(type)">{{type}}</a></li>
                        </ul>
                    </div>
                    <div ng-show="postItem.type=='Introduce'">
                        <div class="upload-btn">
                            <button type="button" class="btn btn-primary pull-left" ng-click="upload()">Upload</button>
                        </div>
                        <div class="controls add-btn">
                            <span class="btn btn-warning fileinput-button">
                                <span>Add files...</span>
                                <input type="file" name="file" data-url="home/upload" multiple upload>
                            </span>
                        </div>
                        <div class="file-name">
                            <span ng-show="!files.length">No files selected</span>
                            <span>{{files[0]}}</span>
                        </div>
                        <img class="upload-img" src="{{imagePath}}"/>
@*                        <span ng-model="imagePath">{{postItem.ImagePath}}</span>*@
                    </div>
                </div>
            </div>    
        </form>
    </section>
    <section class="featured" style="margin-top: 30px;">
        <div class="bs-example" style="max-width: 800px; margin: 0px auto">
            <div ng-repeat="postItem in postItems">
                <ng-switch on="postItem.Type">
                    <div ng-switch-when="0" class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title panel-title-font">I want to hear a session about...</h3>
                        </div>
                        <div>
                            <span>{{postItem.Content}}</span>    
                        </div>
                    </div>
                    <div ng-switch-when="1" class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title panel-title-font">I want to share something about...</h3>
                        </div>
                        {{postItem.Content}}                
                    </div>
                    <div ng-switch-when="2" class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title panel-title-font">I am...</h3>
                        </div>
                        <div>
                            <img class="upload-img" src="{{postItem.ImagePath}}"/>
                            <span>{{postItem.Content}}</span>    
                        </div>
                    </div>    
                </ng-switch>                
            </div>
        </div>
    </section>
</div>