<div id="header">
    <div id="redbar">
        <div class="wrap" style="margin-left: 132px; margin-right: 152px;">
            <ul class="public">
                <li><a href="/login" class="btn-login">log in</a></li>
            </ul>
            <a href="/" id="btn-home">
                <img src="/images/logo.png" alt="bookmarkly">ShareBoard</a>
        </div>
    </div>
</div>
<div id="body" ng-controller="ShareBoardCtrl">
    <section class="featured">
        <div class="whitebox" style="max-width: 800px;margin: 0px auto">
            <hgroup class="title">
                <h2 class="share-title">I want to hear a session about...</h2>
            </hgroup>
            <textarea class="form-control" rows="3"></textarea>
            <div class="clearfix">
                <button type="button" class="btn btn-success share-button pull-right">Share</button>
                <div class="btn-group pull-right share-type">
                    <button type="button" class="btn btn-success">Hear</button>
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Hear</a></li>
                        <li><a href="#">Share</a></li>
                        <li><a href="#">Introduce</a></li>
                    </ul>
        </div>
            </div>
        </div>
    </section>
</div>
